<h1><%= user.userEmail %></h1>

<li>用户姓名: <%= user.userName %></li>
<li>国    家: <%= user.userNation %></li>
<li>账户类型: <%= user.accountType %></li>
<li>已用容量: <%= user.takenSpace %></li>
<li>语    言: <%= user.userLanguage %></li>
<li>个人简介: <%= user.userShort %></li>
<li>作者类型: <%= user.authorType %> </li>
<li>所创线路: <%= user.tourCreate %></li>
